.span-qty {
  display: flex;
  gap: 0.3rem;
}

.saiyan-horizontal-card {
  margin: 0.8rem;
  padding: 1rem 0;
}

.spacing {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.card__CTA__btn {
  cursor: pointer;
}
