.container-main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.content__heading {
  margin: 1rem;
}

.content__span {
  font-weight: 500;
  font-size: 1rem;
}

.product__card__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 2rem;
  margin: 1rem;
}
